@import './utils';

// post-item 
.post {
    padding : 20px;
    margin-bottom: 20px;
    border: $defaultBorder;
    
    &__header {
        display: flex;
        gap: 20px;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: $defaultBorder;
    }

    &__flex {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    &__userImg {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: $fontColor;
    }
    &__userName {

    }
    &__createdAt {

    }
    &__content {
        cursor: pointer;
    }
    &__text {
        margin-bottom: 40px;
    }
    &__footer {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
    }
    &__hashTag {
        padding: 10px;
        box-sizing: border-box;
        margin-right: 10px;
        border: 3px solid rgba(0, 0, 255, 1);
        border-radius: 10px;
    }
    &__utils {
        display: flex;
    }
    &__edit {
        color: green;
        cursor: pointer;
    }
    &__delete {
        color: red;
        cursor: pointer;
    }
}