@import 'font/font.scss';

@import './utils';


body {
  margin: 0;
  background-color: $bgColor;
  color: $fontColor;
  font-family: 'DungGeunMo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
