@import 'font/font.scss';

@import './utils';

body {
  margin: 0;
  background-color: $bgColor;
  color: $fontColor;
  font-size: 1.5rem;
  font-family: $defaultFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

textarea {
    font-family: $defaultFont;
    font-size: $font1;
    border: none;
    resize: none;
    outline: none;
}
input {
    font-family: $defaultFont;
    font-size: $font1;
    outline: none;
    border: none;
}
a {
    color: inherit;
    text-decoration: none;
}
h1 {
    margin: 0;
}

.shadow {
    border-top: 3px solid rgba(0, 0, 255, 1);
    border-bottom: 4px solid #000000;
    border-right: 3px solid #000000;
    border-left: 3px solid rgba(0, 0, 255, 1);
}
.shadow-btn {
    // border-top: 2px solid #ffffff;
    // border-left: 2px solid #ffffff;
    // border-bottom: 3px solid #000000;
    // border-right: 3px solid #000000;
    box-shadow: 2px 2px 0px 2px black;
}
.shadow-btn--active {
    // border-top: 2px solid #333333;
    // border-left: 2px solid #333333;
    // border-bottom: 3px solid gray;
    // border-right: 3px solid gray;
    box-shadow: 2px 2px 0px 2px black inset;
}
.btn-text {
    color: $fontColor;
    background-color: $bgColor;
    cursor: pointer;

    &:hover {
        color: white;
    }
}
.hash-tag {
    padding: 10px;
    box-sizing: border-box;
    margin-right: 10px;
    border: 3px solid rgba(0, 0, 255, 1);
    border-radius: 10px;
}


// page
.page {
    // 메뉴네비높이를 고려해서 설정
    padding-bottom: 120px;
    &__flex {
        display: flex;
        gap: 20px;
    }
    
    &__header {
        position: relative;
        padding: 20px;
        margin: 20px 0 40px;
        font-size: $font2;
        text-align: center;
        @extend .shadow;

        h1 { font-size: $font2; }

        &-noti {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(0, -50%);
            padding: 10px 20px;
            cursor: pointer;
            
            &:hover {
                color: $fontColor-hover;
            }
            
        }
    }
    &__title {
        font-size: $font4;
        text-align: center;
        padding: 20px 0;
        margin-bottom: 40px;
        border-bottom: $defaultBorder;
    }
    &__header-sub {
        font-size: $font2;
        text-align: start;
        padding: 20px 0;
        margin-bottom: 20px;
    }
    &__tabs {
        font-size: $font2;
        margin-top: -40px;
        margin-bottom: 20px;
    }
    &__tab {
        padding: 20px 0;
        color: $fontColorSub;
        cursor: pointer;
        &:hover {
            color: $fontColorSub-hover;
        }
    }
    &__tab--active {
        color: $fontColor;
        &:hover {
            color: $fontColor-hover;
        }
    }
}

// 폼
.form {
    &__block {
        margin-bottom: 20px;
    }
    &__flex {
        display: flex;
        gap: 10px;
    }
    &__submit {
        display: flex;
        flex-direction: row-reverse;
    }
    textarea {
        width: 100%;
        min-height: 120px;
        font-size: $font1;
        color: $fontColor;
        background-color: $bgColor;
    }
    &__input {
        font-size: $font1;
        color: $fontColor;
        background-color: $bgColor;
    }
    &__input-btn {
        @extend .btn-text;
    }
}


// post
.post {
    padding : 20px;
    margin: 20px 0;
    border: $defaultBorder;
    
    &__header {
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
        border-bottom: $defaultBorder;
    }

    &__flex {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    &__user-img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: $fontColor;
    }
    &__userName {

    }
    &__createdAt {

    }
    &__content {
        padding: 20px 0;
        border-bottom: $defaultBorder;
    }
    &__text {
        margin-bottom: 40px;
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
    }
    &__hash-tag {
        padding: 10px;
        box-sizing: border-box;
        margin-right: 10px;
        border: 3px solid rgba(0, 0, 255, 1);
        border-radius: 10px;
    }
    &__like {
        cursor: pointer;
    }
    &__utils {
        display: flex;
    }
    &__edit {
        color: green;
        cursor: pointer;
    }
    &__delete {
        color: red;
        cursor: pointer;
    }
}

// comment
.comment {
    padding : 20px;
    margin: 20px 0;
    border: $defaultBorder;

    &__header {
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
        border-bottom: $defaultBorder;
    }
    &__flex {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    &__user-img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: $fontColor;
    }
    &__delete {
        color: red;
        cursor: pointer;
    }
    &__content {
        padding-top: 20px;
    }
}

// profile 
.profile {

    &__block {
        padding: 20px 0;
    }
    &__flex {
        display: flex;
        gap: 20px;
    }
    &__flex-between {
        display: flex;
        justify-content: space-between;
        gap: 40px;
    }
    &__user-img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: $fontColor;
    }
    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3px;
        align-items: center;
        font-size: $font2;
        cursor: pointer;
    }
    &__info-no {
        color: $fontColorSub;
    }
    &__name {
        font-size: $font2;
    }
    &__email {
        color: $fontColorSub;
    }
    &__edit {
        text-decoration:underline;
        cursor: pointer;

        &:hover {
            color: $fontColor-hover;
        }
    }
    &__tabs {
        font-size: $font2;
        border-top: $defaultBorder;
        margin: 20px 0;
    }
    &__tab {
        padding: 20px 0;
        color: $fontColorSub;
        cursor: pointer;
        &:hover {
            color: $fontColorSub-hover;
        }
    }
    &__tab--active {
        color: $fontColor;
        &:hover {
            color: $fontColor-hover;
        }
    }
}

// search
.search {

    &__flex {
        display: flex;
        gap: 20px;
    }
    &__input {
        color: $fontColor;
        background-color: $bgColor;
    }
    &__tabs {
        font-size: $font2;
        border-top: $defaultBorder;
        margin: 20px 0;
    }
    &__tab {
        padding: 20px 0;
        color: $fontColorSub;
        cursor: pointer;
        &:hover {
            color: $fontColorSub-hover;
        }
    }
    &__tab--active {
        color: $fontColor;
        &:hover {
            color: $fontColor-hover;
        }
    }
    &__no-result {
        margin-top: 40px;
        color: $fontColorSub;
    }
}